absl-py==2.1.0
annotated-types==0.7.0
attrs==23.2.0
cffi==1.16.0
contourpy==1.2.1
cycler==0.12.1
flatbuffers==24.3.25
fonttools==4.52.1
jax==0.4.28
jaxlib==0.4.28
kiwisolver==1.4.5
matplotlib==3.9.0
mediapipe==0.10.14
ml-dtypes==0.4.0
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
pandas==2.2.2
pillow==10.3.0
progressbar2==4.4.2
protobuf==4.25.3
pupil-apriltags==1.0.4.post10
pycparser==2.22
pydantic==2.7.3
pydantic_core==2.18.4
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-utils==3.8.2
pytz==2024.1
PyYAML==6.0.1
scipy==1.13.1
six==1.16.0
sounddevice==0.4.6
typing_extensions==4.12.1
tzdata==2024.1
